body {
    background-color: #353535;
}

.client {
    background-color: #484848;
    box-shadow: 0 0 10px #292929;
    border-radius: 3px;
}

.client.empty {
    box-shadow: none;
    background-color: #2b2b2b;
}

.empty-client-placeholder-title {
    color: #adadad;
}

.empty-client-placeholder-ui a {
    color: #387ee5;
}

.client-title {
    color: #cfcfcf;
}

.client-edit {
    color: #868686;
}

.client-edit:hover {
    color: #b5b5b5;
}

.icon-power.on .icon-power-inner,
.icon-power.on .icon-power-outer {
    fill: rgb(20, 150, 20);
}

.icon-power.off .icon-power-inner,
.icon-power.off .icon-power-outer {
    fill: rgb(134, 134, 134);
}