.Notification {
    height: 75px;
    width: 100%;
    border-bottom: 1px solid;
    
    justify-content: space-between;
    align-items: center;

    display: flex;
}

.Notification-info {
    margin-left: 15px;
}

.Notification-action {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.Notification-title {
    font-size: 18px;
}

.Notification-sub {
    font-size: 15px;
}

.Notification-sub a {
    color: #387ee5;
    text-decoration: none;
}