.Menu {
    position: fixed;
    bottom: -100vh;
    width: 100%;
    height: 100vh;
    border-top: 1px solid;
}

.Menu-pull-tab {
    touch-action: none;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -51px;
    right: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid;
    border-bottom: none;
}

.Menu-pull-tab-icon {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 15px;
}

.Menu-pull-tab-drag-area {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 65px;
    right: -51px;
}

.Menu-pull-tab-icon img {
    height: 30px;
    width: 30px;
}

.Menu-overlay {
    position: fixed;
    top: 0;
    height: 65px;
    width: 100%;
}

.Menu-overlay div {
    margin-left: 15px;
    font-size: 25px;
    line-height: 65px;
    font-weight: bold;
}