body {
    background-color: #f1f1f1;
}

.client {
    background-color: white;
    box-shadow: 0 0 10px #c5c5c5;
    border-radius: 3px;
}

.client.empty {
    box-shadow: none;
    background-color: #dcdcdc;
}

.empty-client-placeholder-title {
    color: #737373;
}

.empty-client-placeholder-ui a {
    color: #387ee5;
}

.client-title {
    color: #353535;
}

.client-edit {
    color: #b5b5b5;
}

.client-edit:hover {
    color: #868686;
}

.icon-power.on .icon-power-inner,
.icon-power.on .icon-power-outer {
    fill: green;
}

.icon-power.off .icon-power-inner,
.icon-power.off .icon-power-outer {
    fill: rgb(160, 160, 160);
}