body.dark-theme {
    background-color: #2b2b2b;
}

.dark-theme .client {
    background-color: #3e3e3e;
    box-shadow: 0 0 10px #292929;
    border-radius: 3px;
}

.dark-theme .client.empty {
    box-shadow: none;
    background-color: #212121;
}

.dark-theme .empty-client-placeholder-title {
    color: #adadad;
}

.dark-theme .empty-client-placeholder-ui a {
    color: #387ee5;
}

.dark-theme .client-title {
    color: #cfcfcf;
}

.dark-theme .client-edit {
    color: #868686;
}

.dark-theme .client-edit:hover {
    color: #b5b5b5;
}

.dark-theme .icon-power.on .icon-power-inner,
.dark-theme .icon-power.on .icon-power-outer {
    fill: rgb(20, 150, 20);
}

.dark-theme .icon-power.off .icon-power-inner,
.dark-theme .icon-power.off .icon-power-outer {
    fill: rgb(134, 134, 134);
}