body.light-theme  {
    background-color: #f1f1f1;
}

.light-theme .client {
    background-color: white;
    box-shadow: 0 0 10px #c5c5c5;
    border-radius: 3px;
}

.light-theme .client.empty {
    box-shadow: none;
    background-color: #dcdcdc;
}

.light-theme .empty-client-placeholder-title {
    color: #737373;
}

.light-theme .empty-client-placeholder-ui a {
    color: #387ee5;
}

.light-theme .client-title {
    color: #353535;
}

.light-theme .client-edit {
    color: #b5b5b5;
}

.light-theme .client-edit:hover {
    color: #868686;
}

.light-theme .icon-power.on .icon-power-inner,
.light-theme .icon-power.on .icon-power-outer {
    fill: green;
}

.light-theme .icon-power.off .icon-power-inner,
.light-theme .icon-power.off .icon-power-outer {
    fill: rgb(160, 160, 160);
}

.light-theme .notification {
    background-color: #fbfbfb;
}