body.light-theme  {
    background-color: #f1f1f1;
}

.light-theme .Client {
    background-color: white;
    box-shadow: 0 0 10px #c5c5c5;
    border-radius: 3px;
}

.light-theme .Client.empty {
    box-shadow: none;
    background-color: #dcdcdc;
}

.light-theme .empty-Client-placeholder-title {
    color: #737373;
}

.light-theme .empty-Client-placeholder-ui a {
    color: #387ee5;
}

.light-theme .Client-title {
    color: #353535;
}

.light-theme .Client-edit {
    color: #b5b5b5;
}

.light-theme .Client-edit:hover {
    color: #868686;
}

.light-theme .icon-power.on .icon-power-inner,
.light-theme .icon-power.on .icon-power-outer {
    fill: green;
}

.light-theme .icon-power.off .icon-power-inner,
.light-theme .icon-power.off .icon-power-outer {
    fill: rgb(160, 160, 160);
}

.light-theme .Notification {
    background-color: #fbfbfb;
    border-color: #e2e2e2;
}

.light-theme .Menu {
    border-top-color: #e2e2e2;
    background-color: white;
}
.light-theme .Menu-pull-tab {
    border-color: #e2e2e2;
    background-color: white;
}