.Switch {
    height: 26px;
    border-radius: 15px;
    border: 2px solid;
}

.Switch-circle {
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s ease;
    height: 24px;
    width: 24px;
    border-radius: 13px;
}

.Switch-circle-content {
    font-size: 10px;
    font-weight: bold;
    transform: translateY(1px)
}